h1 {
  color: red;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  text-align: center;
}
img {
  height: 500px;
  width: 375px;
  object-fit: cover;
  margin: 7px;
}
#navbar {
  border-radius: 10px;
  border: 10px solid #003366;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 150px;
  margin-right: 150px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

@media all and (max-width: 1047px) {
  .container {
    width: 90%;
  }

  img {
    width: 45%;
    height: 500px;
  }
}

@media all and (max-width: 767px) {
  .container {
    width: 95%;
  }

  img {
    width: 90%;
    height: 500px;
  }
}
